@use '../utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  font-family: 'Open Sans', sans-serif;

  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);

%heading {
  font-weight: map-get($map: $font-weights, $key: regular);
}

h1,
.h1 {
  @extend %heading;
  font-size: rem(121.5);
}

h2,
.h2 {
  @extend %heading;
  font-size: rem(81);
}

h3,
.h3 {
  @extend %heading;
  font-size: rem(54);
}

h4,
.h4 {
  @extend %heading;
  font-size: rem(36);
}

h5,
.h5 {
  @extend %heading;
  font-size: rem(24);
}
